@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    display:flex;
    flex-direction: column;
    color: #fafafa;
    background-image: url(assets/imagem3.jpg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #252525;


}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.link {
        padding: 20px;
        font-weight: 600;        
}

.link:hover {
    background-color: #cccccc61;
}

.titulo {
    text-align: center;
    font-weight: 800;
}

.content {
    display: flex;
    flex-direction: column;
    color: #252525;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    max-width: 1000px;
    margin: auto;    
}

h2 { 
    font-weight: 700;
}

p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.imagemcss {
    align-self: center;
    border-radius: 15px;
    max-width: 700px;
    width: 100%;
    min-height: 200px;
   
}

.footer {
    color: #fafafa;
    background-color: #252525;
}

.curso {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.curso Li {
    font-weight: 600;
}

.eucodo {
    color: #1fff41;
}

.charles {
    color: #e8d724;
}

.gabriel {
    color: #dd5353;
}

button {
    display: flex;
    justify-content: center;
    padding-block: 5px;
    padding-inline: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    color: #252525;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    opacity: 0.6;
}

button.sucess {
    color: #fafafa;
    background-color: #076c16;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead td {
    color: #fafafa;
    background-color: #252525;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
}

td,
th {
    border-top: 1px solid #dddddd;
    padding: 5px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}